<h2>Verduras</h2>

<div *ngFor="let verdura of products">
  <h3>
    <a
      [title]="verdura.name + ' details'"
      [routerLink]="['/products', verdura.id]"
    >
      {{ verdura.name }}
    </a>
  </h3>
  <p *ngIf="verdura.description">
    Description: {{ verdura.description }}
  </p>
  <p>
    Precio: {{ verdura.price + "€" }}
  </p>
  <button (click)="share()">
    Share
  </button>
  <button class="botonsitoNotify" *ngIf="verdura.available">
    Notify
  </button>
  <app-product-alerts [product]="verdura" (polleteDeLaVentana)="onPollete()">
  </app-product-alerts>
</div>
